.root {
  display: flex;
  justify-content: center;
  overflow: auto;
  user-select: none;
}

canvas {
  max-height: 960px;
  max-width: 800px;
  width: 100%;
}

.overlay {
  max-height: 960px;
  opacity: 0.5;
  position: absolute;
  top: 0;
}
